::selection {
    background-color: $bg-highlight;
    color: $color-highlight;
}

.high-content{
    background-color: $bg-highlight;
	color: $color-highlight;
}
.high-blod{
	color: $bg-highlight;
	font-weight: 600;
}