*{
  &::-webkit-scrollbar {
    overflow: hidden;
    width: 15px;
    background: rgba(0, 0, 0, .2);
  }

  &::-webkit-scrollbar-button {
   display: none;
  }

  &::-webkit-scrollbar-piece {
    background: rgba(0, 0, 0, .2);
  }

  &::-webkit-scrollbar-thumb {
    overflow: hidden;
    @include border-radius(0px);
    background: $color-hover;
  }

  &::-webkit-scrollbar-corner {
    overflow: hidden;
    background: $color-black;
  }

  &::-moz-scrollbar {
    overflow: hidden;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .2);
  }

  &::-moz-scrollbar-button {
   display:none;
  }

  &::-moz-scrollbar-piece {
    background: rgba(0, 0, 0, .2);
  }

  &::-moz-scrollbar-thumb {
    overflow: hidden;
    @include border-radius(0px);
    background: $color-black;
  }
  
  &::-moz-scrollbar-corner {
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
  }
}
