/*::::::::::::::::::::::
    Helper clasess
::::::::::::::::::::::*/
.o-hidden{
	overflow: hidden;
}
.relative{
	position: relative;
}
.tachado{text-decoration:line-through;}

.border-l-0{
	border-left: 0 !important;
}
.border-r-0{
	border-right: 0 !important;
}