/* path */
$image-path:			'../img/';
$font-path:				'../fonts/';

/* fonts */
$font-size-body:		18px;

/* color-core */
$color-white: 			#fff;
$color-white-hover: 	#fff;
$color-black:			#333;
$color-black-hover: 	#333;
$color-hover: 			#ff5722;

$bg-highlight: 			$color-hover;
$color-highlight: 		$color-white;